@media screen and (min-width: 576px) and (max-width: 960px) {

    /* nav section responsive start from here */
    .nav-content {
        flex-direction: column;
        padding-top: 80px;
    }

    .logo-part {
        width: 100%;
        justify-content: center;
    }

    .nav-items {
        width: 80%;
        margin-bottom: 20px;

    }

    .nav-items>ul {
        flex-direction: column;
        padding-top: 30px;

    }

    .last-child {
        width: 70%;
        margin: 50px auto;
    }

    /* nav section responsive end from here */

    /* play like responsive start from here */

    .play-like-container {
        flex-direction: column-reverse;
    }

    .play-like-content {
        width: 100%;
        width: 100%;
        height: 400px;
        margin-right: 0px;
    }

    .play-like-content-item {
        width: 100%;
        margin: 0 auto;
    }

    .play-like-content-item-title {
        font-size: 30px;
    }

    .play-like-content-item p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .play-like-btn {
        text-align: center;
    }

    .play-like-btn-one {

        font-size: 18px;
    }

    .play-like-btn-two {
        font-size: 18px;
    }

    .play-like-img {
        width: 100%;
    }

    .play-like-img img {
        width: 100%;
    }

    .play-like-content-item-title-design {
        font-size: 60px;
    }


    /* play like responsive end here */
    /* online game start */
    .online-game-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: -10px;
        row-gap: 30px;
    }


    .online-game-container .card p {
        font-size: 12px;
    }

    /* online game end */
    /* play instantly start */
    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-content {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .play-instantly-title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin: 0 auto;
        align-items: center;

    }

    .play-instantly-title-design {
        color: #FF42A5;
    }

    .play-instantly-description {
        text-align: center;

    }

    .play-instantly-img {
        margin: -100px auto;
        width: 60%;
    }

    .play-instantly-img-one {
        width: 100%;
    }

    .play-instantly-img-two {
        width: 40%;
    }

    /* logo game start */
    /* game logo start */
    .game-logo-section {
        padding: 20px;
    }

    .game-logo-container {
        max-width: 100%;
        row-gap: 20px;
        column-gap: 10px;
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .game-content {
        border-radius: 20px;

    }

    .game-title {
        font-size: 15px;
        font-weight: 600;
        padding: 0px 0px;

    }

    .game-img {
        width: 20%;
    }

    .game-img img {
        width: 100%;

    }

    /* game logo end */
    /* logo game end */
    /* footer start */
    .footer-section {
        background-color: #0B0223;
    }

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        height: auto;

    }

    .footer-logo-title {
        color: #FFF;
        font-size: 45px;
        font-weight: 700;
    }

    .footer-items>ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: center;
    }

    .footer-items li {
        margin: 5px 0;
    }

    ;




    .terms-condition li {
        margin: 20px;
    }

    .copy-wright {
        text-align: center;
        padding: 30px;
        color: gray;
        font-size: 15px;
    }

    /* footer end */

}

@media screen and (max-width: 576px) {
    /* nav section responsive start from here */

    .nav-content {
        flex-direction: column;
        padding-top: 80px;
    }

    .logo-part {
        width: 100%;
        justify-content: center;
    }

    .nav-items {
        width: 80%;
        margin-bottom: 20px;

    }

    .nav-items>ul {
        flex-direction: column;
        padding-top: 30px;

    }

    .last-child {
        width: 70%;
        margin: 50px auto;
    }

    /* nav section responsive end from here */
    /* play like responsive start from here */
    .play-like-container {
        flex-direction: column-reverse;
    }

    .play-like-content {
        width: 100%;
        width: 420px;
        height: 400px;
        margin-right: 0px;
    }

    .play-like-content-item {
        width: 100%;
        margin: 0 auto;
    }

    .play-like-content-item-title {
        font-size: 30px;
    }

    .play-like-content-item p {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }

    .play-like-btn {
        text-align: center;
    }

    .play-like-btn-one {

        font-size: 18px;
    }

    .play-like-btn-two {
        font-size: 18px;
    }

    .play-like-img {
        width: 100%;
    }

    .play-like-img img {
        width: 100%;
    }

    .play-like-content-item-title-design {
        font-size: 60px;
    }

    /* online game start */
    .online-game-container {
        grid-template-columns: 1fr;
        gap: 50px;

    }

    .online-game-description {
        font-size: 12px;
    }

    .online-game-container .card p {
        font-size: 12px;
    }

    /* online game end */
    /* play instantly start */
    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-content {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .play-instantly-title {
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        margin: 0 auto;
        align-items: center;

    }

    .play-instantly-title-design {
        color: #FF42A5;
    }

    .play-instantly-description {
        text-align: center;

    }

    .play-instantly-img {
        margin: -100px auto;
        width: 60%;
    }

    .play-instantly-img-one {
        width: 100%;
    }

    .play-instantly-img-two {
        width: 40%;
    }

    /* play instantly end */
    /* game logo start */
    .game-logo-section {
        padding: 20px;
    }

    .game-logo-container {
        max-width: 100%;
        row-gap: 20px;
        column-gap: 10px;
        padding: 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .game-content {
        border-radius: 20px;

    }

    .game-title {
        font-size: 10px;
        font-weight: 400;
        padding: 0px 0px;

    }

    .game-img {
        width: 15%;
    }

    .game-img img {
        width: 100%;

    }

    /* game logo end */
    /* footer start */

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        height: auto;

    }

    .footer-logo-title {
        color: #FFF;
        font-size: 45px;
        font-weight: 700;
    }

    .footer-items>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-items li {
        margin: 5px;
    }


    .terms-condition>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: 0 auto;

    }

    .terms-condition li {
        font-size: 15px;
        margin: 5px auto;
    }

    .footer-copywright {
        width: 50%;
        margin: 0 auto;
    }

    .copy-wright {
        /* text-align: center;
        align-items: center; */
        padding: 20px 0px;
        font-size: 12px;
        margin: 0 auto;
    }

    /* footer end */
}