@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    box-sizing: border-box;
}

:root {
    --linear: #FF42A5;
}

/* 
nav style start from here */
.nav-container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-content {
    display: flex;
    max-width: 1400px;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
}

.logo-part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-img {
    margin-right: 10px;
}

.logo-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo-title-design {
    color: var(--linear)
}

.nav-items {
    width: 50%;

}

.nav-items>ul {
    display: flex;
    justify-content: end;

}

.nav-items li {
    list-style: none;
    padding: 0 20px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;

}

.last-child {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    height: 50px;
}

.last-child .fa-youtube {
    color: red;
    font-size: 20px;
    padding: 0 10px;

}

/* nav section style end here */
/* banner section style from here */
.play-like-secetion {}

.play-like-container {
    display: flex;
    /* max-width: 1400px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.play-like-content {
    width: 50%;
    background-image: url("/images/Group\ 14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 901px;
    height: 700px;
    margin-right: 50px;
    align-items: center;
    display: flex;
}

.play-like-content-item {
    width: 42%;
    margin: 0 auto;

}

.play-like-content-item-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.play-like-content-item-title-design {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.play-like-content-item p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.play-like-btn-one {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--linear);
    border-radius: 48px;
    border: none;
    padding: 10px 20px;
}

.play-like-btn-two {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--linear);
    border: none;
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7;
}

.play-like-img {
    width: 50%;
}

.play-like-content-item-title-design {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 100px;
}

/* online game start */
.online-game-section {
    max-width: 1400px;
    margin: 50px auto;
}

.online-game-title {
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    margin-bottom: 50px;
}

.online-game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.online-game-title-design {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.online-game-container .card {
    position: relative;
    text-align: center;
}


.online-game-container .card .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.online-game-container .card:hover .play-btn {
    opacity: 1;
}


.online-game-container .card img:hover {
    border: 5px solid var(--linear);
    border-radius: 25px;
    opacity: 0.3;

}

/* online game end */
/* play instantly start */
.play-instantly-section {
    margin-top: 100px;
}

.play-instantly-container {
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
}

.play-instantly-content {
    width: 50%;
    text-align: right;
    height: 400px;
    margin-right: 200px;
}

.play-instantly-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-top: 260px;
    padding-bottom: 20px;
}

.play-instantly-title-design {
    color: #FF42A5;
}

.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.play-instantly-img {
    width: 50%;
    position: relative;
}

.play-instantly-img-two {
    position: absolute;
    left: -20%;
    top: 60%;
}

/* play instantly end */
/* game logo start */
.game-logo-section {
    background-color: #f7edf3;
    margin-top: 120px;
}

.game-logo-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 50px;

}

.game-content {
    display: flex;
    align-items: center;
    border-radius: 48px;
    background-color: #FFFFFF;

}

.game-content:hover {
    border: 5px solid #F948B2;

}

.game-title {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 29px 12px;
}

.game-img {
    padding: 10px;
}

/* game logo end */